@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Smooth scrolling on the whole document
 */
 html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "INTER-MEDIUM";
  src: url("assets/fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: 'INTER-REGULAR';
  src: url("assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: 'INTER-SEMIBOLD';
  src: url("assets/fonts/Inter-SemiBold.ttf");
}

@font-face {
  font-family: 'INTER-BOLD';
  src: url("assets/fonts/Inter-Bold.ttf");
}